<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Clients</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body >



</br>
</br>
<div class="container">
  <div class="row">
    <div class="col" >
		     <div class="card border-secondary mb-3" style="max-width: 20rem;">
		  <div class="card-header"  >
		  Clients</div>
		  <div class="card-body text-secondary">
			  <div class="card" style="width: 18rem;">
				  <ul class="list-group list-group-flush">
					  <li class="list-group-item"><a class="dropdown-item"  th:href="@{/clients}">Liste des clients</a></li>
					  <li class="list-group-item"><a class="dropdown-item" th:href="@{/showAddClientForm}">Ajouter un client</a></li>
				  </ul>
			  </div>
		    </div>
          </div>
   <div class="card border-secondary mb-3" style="max-width: 20rem;">
		  <div class="card-header">
		  Employe</div>
		  <div class="card-body text-secondary">
			  <div class="card" style="width: 18rem;">
				  <ul class="list-group list-group-flush">
					  <li class="list-group-item"><a class="dropdown-item" th:href="@{/showAddEmployeForm}">Ajouter un employe</a></li>
					  <li class="list-group-item"><a class="dropdown-item" th:href="@{/employes}">Liste des employes</a></li>

				  </ul>
			  </div>
		  </div>
          </div>
    </div>






    <div class="col">
     	<div class="card border-secondary mb-3" style="max-width: 20rem;">
		  <div class="card-header">
		  Comptes</div>
		  <div class="card-body text-secondary">
			  <div class="card" style="width: 18rem;">
				  <ul class="list-group list-group-flush">
					  <li class="list-group-item">
						  <a class="dropdown-item" th:href="@{/ajouterCompteCourant}">Ajouter Compte Courant</a>
					  </li>
					  <li class="list-group-item">
						  <a class="dropdown-item" th:href="@{/ajouterCompteEpargne}">Ajouter Compte Epargne</a>

					  </li>
				  </ul>
			  </div>
		   </div>
          </div>
   <div class="card border-secondary mb-3" style="max-width: 20rem;">
		  <div class="card-header">
		  Operations</div>
		  <div class="card-body text-secondary">
			  <li class="list-group-item">
			  	<a class="dropdown-item" th:href="@{/showVirementForm}">Virement</a>
			  </li>
			  <li class="list-group-item">
			 	 <a class="dropdown-item" th:href="@{/showRetraitFrom}">Retrait</a>
			  </li>
			  <li class="list-group-item">
			 	 <a class="dropdown-item" th:href="@{/showVersementForm}">Versement</a>
			  </li>

		  </div>
          </div>
    </div>






     <div class="col">
     	<div class="card border-secondary mb-3" style="max-width: 20rem;">
		  <div class="card-header">
		  Consultation des comptes</div>
		  <div class="card-body text-secondary">
				  <div class="card" style="width: 18rem;">
					  <ul class="list-group list-group-flush">
						  <li class="list-group-item">
							  <a class="dropdown-item" th:href="@{/ConsulterCompte}">Un Compte</a>
						  </li>
						  <li class="list-group-item">
							  <a class="dropdown-item" th:href="@{/ConsulterComptesClient}">Les Comptes d'un client</a>
						  </li>
						  <li class="list-group-item">
						  <a class="dropdown-item" th:href="@{/ConsulterOperationCompte}">Page des operations d'un compte</a>
						  </li>

					  </ul>
				  </div>
			  </div>
          </div>
   <div class="card border-secondary mb-3" style=" max-width: 20rem;b">
		  <div class="card-header">
		  Groupe</div>
	      <div class="card-body text-secondary">
		  	 <div class="card" style="width: 18rem;">
				   <ul class="list-group list-group-flush">
					   <li class="list-group-item">
						   <a class="dropdown-item"  th:href="@{/listeGroupe}">Liste des groupes</a>
					   </li>
				   		<li class="list-group-item">
							<a class="dropdown-item" th:href="@{/showAddGroupeForm}">Ajouter un groupe</a>
						</li>

				   </ul>

			 </div>
		   </div>
		  </div>
          </div>
    </div>
  </div>

</div>



	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body >
</html>
